@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

// Aqui coloco los estilos generales,
// lo de la pantalla inicial

@import "./scss/variables.scss";
@import "./scss/mixins.scss";

.App {
    background-color: $gris;
}

a {
    color: $celeste !important;
    font-size: 25px;
    text-decoration: none;
}

.primary-button {
    padding: 0;
    @include primary-button;
    @include breakpoint-desktop-2 {
        padding: 8px 14px !important;
    }
}

.secondary-button {
    background-color: transparent;
    border: 1px solid $gris-oscuro;
    border-radius: 0.5rem;
    color: $gris-oscuro;
    font-size: 12px;
    margin: 0 6px 6px 0;
    outline: none !important;
    padding: 4px;
    transition: linear .2s;
    &:hover {
        background-color: $celeste;
    }
    &:active {
        box-shadow: 0px 0px 5px 0px rgba(66,73,82,1);
    }
    @include breakpoint-tablet-desktop {
        font-size: 16px;
        margin: 12px 12px 0 0;
        padding: 6px 10px;
    }
    @include breakpoint-desktop-2 {
        padding: 8px 14px;
    }
}

.btn-rate {
    background-color: $fucsia !important;
    border: none !important;
    &:hover {
        background-color: lighten($fucsia, 8) !important;
    }
    &:active {
        background-color: $fucsia !important;
    }
    &:focus {
        background-color: $fucsia;
        box-shadow: none !important;
    }
}

.container-section-questions {
    margin: 0;
    max-width: 100% !important;
    padding: 0;
    &.container {
        margin: 0 !important;
        padding: 0 !important;
    }
    .row-col-section-questions {
        margin: 0;
        padding: 0;
    }
}

.navbar {
    background-color: white;
    padding: 0 30px !important;
    position: fixed !important;
    display: flex;
    border-bottom: 1px solid #d3d3d3a1;
    z-index: 5;
    width: 100%;
    box-shadow: inset 0 0 70px rgba(0, 0, 0, .1);
    .header-img {
        width: 50%;
        .logo {
            width: 25%;
        }
    }
    .header-container {
        display: flex;
        width: 40%;
        .header-container-button{
            font-size: 18px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            background-color: transparent;
            border: 1px solid #d3d3d35b;
            outline: none;
            color: gray;
            width: 70px;
        }
        .header-container-input {
            width: 30%;
            padding: 8px;
            background-color: transparent;
            border: 1px solid #d3d3d35b;
            font-size: 17px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            outline: none;
            width: 100%;
        }
    }
}

.sidebar {
    border-right: 1px solid lightgray;
}

.noticias {
    border-left: 1px solid lightgray;
}

.sidebar, .noticias {
    padding: 50% 20px 0 !important;
    height: 100%;
    width: 100%;
}

.questions, .question-answers {
    padding-top: 15%;
    width: calc(100vw - 500px);
}

.question-answers {
    padding: 15% 16px 0;
    .container-card-user {
        @include breakpoint-tablet-desktop {
            display: flex;
            justify-content: flex-end;
        }
        .user-box {
            background-color: #f3f3f3;
            border: none;
            display: flex;
            margin-top: 6px;
            padding: 8px 15px;
            @include breakpoint-tablet {
                border: 1px solid #d8d7d7;
                margin: 6px 5px 25px 15px;
                width: 35%;
            }
            @include breakpoint-tablet-desktop {
                margin: -20px 16px 25px 15px;
                width: 30%;
            }
            @include breakpoint-desktop-2 {
                padding: 13px;
                width: 27%;
            }
            @include breakpoint-desktop-2 {
                margin: 20px 16px 25px 15px;
            }
            .img-person {
                border-radius: 50%;
                width: 40%;
                @include breakpoint-tablet {
                    width: 100%;
                }
                @include breakpoint-tablet-desktop {
                    width: 130%;
                }
            }
            .card-body {
                padding: 0;
                .card-title {
                    font-size: 17px;
                    font-weight: 600;
                    margin-left: -80px !important;
                    @include breakpoint-mobile-2 {
                        margin-left: -110px !important;
                    }
                    @include breakpoint-tablet {
                        margin-left: -15px !important; 
                    }
                    @include breakpoint-tablet-desktop {
                        font-size: 20px;
                        margin-left: 5px !important;  
                    }
                }
                .card-text {
                    font-size: 14px;
                    margin-left: -80px !important;
                    @include breakpoint-mobile-2 {
                        margin-left: -110px !important;
                    }
                    @include breakpoint-tablet {
                        margin-left: -15px !important;
                    }
                    @include breakpoint-tablet-desktop {
                        font-size: 17px;
                        margin-left: 5px !important;  
                    }
                }
            }
        }
    } 
}